:root {
    --light: rgb(230, 213, 192);
    --dark: rgb(46, 44, 42);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

#calendar {
    aspect-ratio: 1;
    background-color: lightcyan;
    border-radius: 36px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#heading {
    padding: 1.5rem;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 36px 36px 0 0;
}

#month {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

#body {
    padding: 1.5rem 0;
    border-radius: 0 0 36px 36px;
    color: var(--dark);
    background-color: var(--light);
    border: 12px solid var(--dark);
    border-width: 0 12px 12px 12px;
}

#day {
    display: block;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#week-day {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}