:root {
    --light: rgb(230, 213, 192);
    --dark: rgb(46, 44, 42);

    --bg-primary: var(--light);
    --text-primary: var(--dark);
    --text-shadow-primary: 1px 1px 1px rgba(46, 44, 42, 0.2);
    --shadow-primary: 0px 4px 12px #4b4d4b;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Regular.woff2') format('woff2'), url('Vollkorn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;

    font-family: 'Vollkorn';
    background-color: var(--bg-primary);
    color: var(--text-primary);

    opacity: 0;
    animation: fadeIn 0.4s ease forwards;
}

body > header {
    max-width: 30em;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

a {
    color: inherit;
}

main {
    max-width: 30em;
    margin: 0 auto;
    padding: 0 1rem;
}

pre {
    text-shadow: none;
    border-radius: 6px;
    /* box-shadow: var(--shadow-primary); */
}

pre > code {
    border-radius: 6px;
}

.welcome {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 10em;
    filter: drop-shadow(var(--text-shadow-primary));
    display: block;
    margin: 0 auto;
}

.article-list > ul {
    list-style-type: none;
    padding-left: 0;
}

.article-list > ul > li {
    margin-bottom: 1em;
}